{% comment %} <!DOCTYPE html>

<html>
  <head>
    {% load livereload_tags %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi From Raunak</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% livereload_script %}
  </head>
  <body>
    <div class="font-bold">Thank you!</div>

    <script src="" async defer></script>
  </body>
</html>
{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    {% load livereload_tags %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My GitHub Repositories</title>
    <link rel="shortcut icon" href="#" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% livereload_script %}
  </head>
  <body>
    <div class="container mx-auto mt-10">
      <h1 class="text-2xl font-bold mb-4">My GitHub Repositories</h1>

      <!-- Check if data exists -->
      {% if data %}
      <ul class="list-disc pl-5">
        {% for repo in data %}
        <li class="mb-2">
          <a
            href="{{ repo.html_url }}"
            class="text-blue-500 underline"
            target="_blank"
          >
            {{ repo.name }}
          </a>
          <p>{{ repo.description }}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No repositories found or unable to fetch data.</p>
      {% endif %}
    </div>
  </body>
</html>
